* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('fondos.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

.container {
    width: 80%; /* Cambiado del 80% al 90% para dispositivos móviles */
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.highlight-box {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: #fff;
    padding: 20px; /* Reducción del padding */
    text-align: center;
    border-radius: 12px;
    margin-bottom: 30px;
}

.highlight-text {
    font-size: 1.2em; /* Reducción del tamaño de la fuente */
    font-weight: bold;
    line-height: 1.5;
}

.info-section {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en dispositivos pequeños */
    justify-content: space-between;
    margin-bottom: 30px;
}

.info-box {
    flex-basis: calc(33.33% - 20px); /* Ajuste para dispositivos pequeños */
    background: #f0f0f0;
    padding: 20px; /* Reducción del padding */
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s, background 0.3s;
    margin-bottom: 20px; /* Espacio entre las cajas */
}

.info-box:hover {
    background: #e0e0e0;
    transform: translateY(-5px);
}

.info-box h2 {
    margin-bottom: 10px; /* Reducción del espacio entre los títulos y los párrafos */
    font-size: 1.2em; /* Reducción del tamaño de la fuente */
    color: #444;
}

.info-box p {
    font-size: 1em; /* Reducción del tamaño de la fuente */
    color: #666;
    line-height: 1.5;
}

.contact-section {
    text-align: center;
    padding: 20px; /* Reducción del padding */
    background: #333;
    color: #fff;
    border-radius: 12px;
}

.contact-section h2 {
    margin-bottom: 10px; /* Reducción del espacio entre los títulos y los párrafos */
    font-size: 1.2em; /* Reducción del tamaño de la fuente */
    color: #fff;
}

.contact-section p {
    font-size: 1em; /* Reducción del tamaño de la fuente */
    line-height: 1.5;
}

.instagram-button {
    display: inline-block; /* Cambiado de flex a inline-block */
    background: #E1306C;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    transition: background 0.3s;
}

.instagram-button:hover {
    background: #C13584;
}

.instagram-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

